.container{
  display: flex;
  align-items: center;
  gap: 100px;
}
.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.title{
  font-size: 72px;
  background: linear-gradient(to bottom,#ef1c26,#bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc{
  font-size: 22px;
  font-weight: 300;
}
.button{
  padding: 20px;
  background-color: #ef1c26;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: max-content;
  color: white;
}